rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // ユーザーのプロフィール画像
    match /users/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // イベントの写真
    match /events/{eventId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}

